<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Board</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/teacherMypage/myLecture.css" />
</head>
<body>
<div class="first_line"></div>
<main class="mypage_main">
    <!-- navi  -->
    <div class="navi_wrapper">
        <div class="navi_container">
            <ul class="show_navi_detail">
                <a href="#"><li class="section1">MY 홈</li></a>
                <a href="#"><li class="section2">작성중인 지원서</li></a>
                <a href="#"><li class="section3">나의 강의 현황</li></a>
                <a href="#"><li class="section4">나의 후기</li></a>
                <a href="#"><li class="section5">개인정보 설정</li></a>
            </ul>
        </div>
    </div>

    <!-- mypage 보여질 내용 -->
    <div class="mypage_detail">
        <div class="detail_container">
            <!-- 마이페이지 세부내용 타이틀 -->
            <div class="mypage_title_container section_style">
                <div class="mypage_title">나의 강의 현황</div>
            </div>

            <!-- 마이페이지 세부내용 part1 -->
            <div class="part1-box-container">
                <a href="#"
                ><div class="box done-class">
                    <div class="box-title">완료 강의</div>
                    <div class="count">1</div>
                </div>
                </a>
                <a href="#"
                ><div class="box on-going-class">
                    <div class="box-title">진행 중인 강의</div>
                    <div class="count">0</div>
                </div>
                </a>
                <a href="#"
                ><div class="box expected-class">
                    <div class="box-title">진행 예정 강의</div>
                    <div class="count">0</div>
                </div>
                </a>
                <a href="#"
                ><div class="box num1">
                    <div class="box-title">내용</div>
                    <div class="count">0</div>
                </div>
                </a>
                <a href="#"
                ><div class="box num2">
                    <div class="box-title">내용</div>
                    <div class="count">0</div>
                </div>
                </a>
            </div>

            <!-- 세부 내용 시작 -->
            <div class="show-class-detail-container">
                <div class="show-class-detail-title">
                    <div class="count-class">총 1개</div>
                </div>

                <div class="class-list-container">
                    <div class="list-class-title title-part">강의명</div>
                    <div class="list-class-place title-part">장소</div>
                    <div class="list-class-time title-part">시간</div>
                    <div class="list-class-start-date title-part">시작 날짜</div>
                    <div class="list-class-end-date title-part">종료 날짜</div>
                </div>

                <div class="class-list-container">
                    <div class="list-class-title list-content">타자 3000타 너두 할 수있어</div>
                    <div class="list-class-place list-content">서초구 방배동 남태령 마을회관</div>
                    <div class="list-class-time list-content">09:00 ~ 12:00</div>
                    <div class="list-class-start-date list-content">2022/11/20</div>
                    <div class="list-class-end-date list-content">당일교육</div>
                </div>

                <!-- 아무것도 없을 때 예시 -->
                <div class="no-data-show-container">
                    <div class="big-title">완료한 강의가 없습니다.</div>
                    <div class="middle-title">다양한 강의를 제공해 주세요.</div>
                    <div class="button-container">
                        <button type="button" class="go-to-apply-class">강의 신청하러 가기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>